<div id="about" class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h2>#AboutUs</h2>
      <p>To be Elev8ted is to be alive. It’s the feeling you get when you walk along the beach and feel the warm sand between your toes. It’s the moment you truly understand what it means to be alive instead of just simply living. We all seek to live a better life but those who are Elev8ted are already living it. We are not just a cannabis brand, we are an experience. 
 
With that being said, we hope to provide you with all of your medical and recreational needs! We want all of our customers to feel like gold. Located at the Old Compassion Center."
 
Live a life of luxury. Find your gold. Stay Elev8ted.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Menu</a></p>
    </div>
</div>
<div id="aboutbeach" class="jumbotron jumbotron-fluid">
    
</div>
<div id="contact" class="container">
<div id="form" class="row">
    <div class="col-md-4">
        <h1 class="text-center">CONTACT US</h1><br>
<form>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Name</span>
    <input type="text" class="form-control" placeholder="John Smith" aria-describedby="basic-addon1">
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email@</span>
    <input type="text" class="form-control" placeholder="johnsmith@mail.com" aria-describedby="basic-addon1">
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Subject</span>
    <input type="text" class="form-control" placeholder="Subject" aria-describedby="basic-addon1">
  </div><br>
  <div class="form-group">
    <label for="exampleInputPassword1"></label>
    <textarea class="form-control" placeholder="Message..." rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success">SEND</button>
</form>
</div>
<div class="col-md-4 text-center">
  <h1>STORE HOURS</h1><br>
  <p>Sunday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default badge-pill">8:00 AM - 10:00 PM</span></p>
  <p>Monday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default badge-pill">8:00 AM - 10:00 PM</span></p>
  <p>Tuesday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default badge-pill">8:00 AM - 10:00 PM</span></p>
  <p>Wednesday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default badge-pill">8:00 AM - 10:00 PM</span></p>
  <p>Thursday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default badge-pill">8:00 AM - 10:00 PM</span></p>
  <p>Friday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default badge-pill">8:00 AM - 10:00 PM</span></p>
  <p>Saturday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default badge-pill">8:00 AM - 10:00 PM</span></p>
</div>
<div class="col-md-4 text-left">
    <h1 class="text-center">COME VISIT US</h1><br>
    <ul id="sizem" class="fa-ul">
      <li><i class="fa-li fa fa-home"></i>2055 W. 12th Avenue<br>
Eugene, OR, USA</li><br>
      <li><a><i class="fa-li fa fa-mobile"></i>458-210-2810</li></a><br>
      <li><a><i class="fa-li fa fa-wheelchair"></i>Wheelchair accessible</li></a><br>
      <li><i class="fa-li fa fa-clock-o"></i><span id="hours">OPEN</span></li>
    </ul>
</div>
</div>
</div>
