<div id="elevate" class="container">
      
 </div>
 

    <span class="text-muted"><h1 class="text-center">#ELEV8TED</h1></span>
    
<div class="container">
<div class="row">
    <div class="col-md-4">
      <div class="profile-card text-center">

        <%= image_tag("Storefront.jpg", :alt => "First slide", :class => "img-responsive") %>
        <div class="profile-info">

          

          <h2 class="hvr-underline-from-center">APPAREL<span>APPAREL</span></h2>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card text-center">

        <%= image_tag("edible1.jpg", :alt => "First slide", :class => "img-responsive") %>
        <div class="profile-info">

          <h2 class="hvr-underline-from-center">CBD<span>CBD TINCTURES</span></h2>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card text-center">

        <%= image_tag("edible2.jpg", :alt => "First slide", :class => "img-responsive") %>
        <div class="profile-info">

          <h2 class="hvr-underline-from-center">EDIBLES<span>EDIBLES</span></h2>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
  <div class="featurette col-md-3">
    <h1 class="featurette-heading">Rep the brand. <span class="text-muted">Get our apparel!</span></h1>
    <p class="lead">In simple terms, a responsive web design figures out what resolution of device it's being served on. Flexible grids then size correctly to fit the screen.</p>
  </div>
  
  <div id="model2" class="card featurette col-md-9">
    <!--<%= image_tag("model2.jpg", :alt => "First slide", :class => "card-block img-rounded img-responsive float-left", :height => "100") %>		<h1>Card Title</h1>-->
		
	</div>
	
	<div class="row">
	  <a href="https://leafly.com/dispensary-info/elev8cannabis", target="_blank">
	  <div id="model3" class="card featurette col-md-6">
	    
	  </div>
	  </a>
	  
	  <a href="https://weedmaps.com/dispensaries/elev8-cannabis", target="_blank">
	  <div id="weedmaps" class="featurette col-md-6">
      
    </div>
    </a>
	</div>

<hr class="featurette-divider">
