<div id="elevate" class="jumbotron jumbotron-fluid bg-secondary text-white m-t-0 p-t-3" align="center">
    
</div>

<hr class="featurette-divider">

<div class="container-fluid">
<div class="row featurette">
  <div class="col-md-7 p-t-3 p-l-3">
    <h1 class="featurette-heading" style="margin-top: 100px;">Dont just elevate your mind,<br><span class="text-muted"> elevate your high.</span></br></h1>
    <p class="lead"></p>
  </div>
  <div class="col-md-5 p-y-3 p-x-3">
   <%= image_tag("model3.jpg", :alt => "Generic placeholder image", :class => "featurette-image img-rounded img-responsive center-block") %>
  </div>
</div>
</div>  

<hr class="featurette-divider">
    
<div class="container-fluid">
<div class="row featurette">
  <div class="col-md-7 col-md-push-5 p-t-3 p-l-3">
    <h1 class="featurette-heading" style="margin-top: 100px;">Rep the brand.<br><span class="text-muted"> Get some Elev8 apparel!</span></br></h1>
    <p class="lead"></p>
  </div>
  <div class="col-md-5 col-md-pull-7 p-y-3 p-x-3">
    <%= image_tag("model2.jpg", :alt => "Generic placeholder image", :class => "featurette-image img-rounded img-responsive center-block") %>
  </div>
</div>
</div>     

<hr class="featurette-divider">

<div class="container-fluid">
<div class="row featurette">
  <div class="col-md-7 p-t-3 p-l-3">
    <h1 class="featurette-heading">Stay Elev8ed!<br><span class="text-muted">Come visit us</span></h1>
    <p class="lead"></p>
  </div>
  <div class="col-md-5 p-y-3 p-x-3">
    <%= image_tag("", :alt => "Generic placeholder image", :class => "featurette-image img-rounded img-responsive center-block") %>
  </div>
</div>
</div>  