/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}




.navbar {
    margin-bottom: 0px; 
    border: none;
}

img.resize {
    max-width: 100%; 
    max-height: 100%;
}

.navbar-inverse {
	background-color: #1C1819;
    border-color: #222;
}

#elevate {
	background: url('Elev8New.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #1C1819;
	height: 500px;
	border-color: black;
	
	background-position: center;
	margin-bottom: 0px;
}


.fa .fa-group {
	float: left;
}

#about {
	background: url("Beach.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0px 0px;
	margin-bottom: 0px;
	padding-bottom: 400px;
}

body {
	background-color: #1C1819;	
}

#form {
	padding-top: 10px;
	padding-bottom: 10px;
}


.navbar-nav {
    float: left;
    font-size: 14px;
}

#navigation ul {
	margin-top: 10px;
}

#facebook {
	color: #3b5998;
}

#twitter {
	color: #55ACEE;
}

#instagram {
	color: white;
	background: linear-gradient( #400080, transparent),
	linear-gradient( 
  200deg, #d047d1, #ff0000,    #ffff00);
   border-radius: 10px;
}

#google {
	color: #dd4b39;
}

#contact {
	color: white;
	padding-bottom: 15px;
}

#hours {
	color: #5cb85c;
}

#storefront {
	background: url("Storefront.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-bottom: 0px;
	padding-bottom: 400px;
	background-position: 0px 0px
}

.profile-card {
    background-color: #222222;
  margin-bottom: 20px;
			
		}
		
.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 100px;
  -webkit-transition: all 0.4s;
		  transition: all 0.4s;
				}

				
.profile-info {
		color: #BDBDBD;
		padding: 25px;
	    position: relative;
	    margin-top: 15px;
				}
		
.profile-info h2 {
	color: #E8E8E8;
    letter-spacing: 4px;
	  padding-bottom: 12px;
				}
				
.profile-info span {
	display: block;
    font-size: 12px;
    color: #4CB493;
	letter-spacing: 2px;
			}

.profile-info a {
	 color: #4CB493;
		}
.profile-info i {
	    padding: 15px 35px 0px 35px;
		}
		

.profile-card:hover .profile-pic {
	
	transform: scale(1.1);
		}

.profile-card:hover .profile-info hr  {
	opacity: 1;
		}
		
		
		
		
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #CECECE;
}

#model2 {
	background: url("model2.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 400px;
	background-position: 0px -50px;
	margin-bottom: 20px;
	border-radius: 10px;
}

#model3 {
	background: url("leafly.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 200px;
	background-position: 0px 0px;
	margin-bottom: 20px;
	border-radius: 10px;
}

#weedmaps {
	background: url("weedmaps.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 220px;
	background-position: 0px 40px;
	border-radius: 10px;
	margin-bottom: 15px;
}

p.navbar-brand {
	font-size: 14px;
}

#aboutUs {
	font-size: 17px;
	color: white;
	font-weight: 100;
}

#icon {
	background-size: 100% auto;
	background-position: 0px 40px;
}

ul.sizem {
	font-size: 16px;
}